container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
  /* установка свойств для body */
  body {
  background-color: rgb(255, 247, 223);
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Source Sans Pro', sans-serif;
  
  }
  p.t {
  font-family: "lucida sans unicode", "lucida grande", sans-serif;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 2.4pt;
  word-spacing: 3.4pt;
  line-height: 2;
  }
  .box {
    background:
      linear-gradient(
          105deg,
          rgba(255, 255, 255, 0.2) 39%,
          rgba(51, 56, 57, 1) 96%
        ) 
  }
  
  .box1 
  {background: linear-gradient(0deg, #009dff 0%, #ffffff 100%);
  }
  .container1 {
    max-width: 240px;
    margin-right: auto;
    margin-left: auto;
    border: 10px solid #001eff;
    padding:15px
  }
  header
  {
      padding: 20px 0;
  
  }
  
  /* навигация */
  nav a {
      text-decoration: none;
  }
  
  nav ul {
      margin: 10px;
      padding: 0;
  }
  
  nav li {
      list-style-position: inside;
      font: 14px 'Oswald', sans-serif;
      padding: 10px;
  }
  
  .top-menu li {
      display: inline-block;
      padding: 10px 30px;
      margin: 0px 0px 0px 60px;
  }
  
  .top-menu li.active {
      background: #29c5e6;
      color: #fff;
  }
  
  .top-menu a {
      color: #b2b2b8;
  }
  /* навигация */
  
  .element { background: conic-gradient(
    from 45deg at 50% 50%,
    rgba(15, 37, 110, 1) 12deg,
    rgba(18, 63, 92, 1) 25deg,
    rgba(29, 153, 26, 1) 71deg,
    rgba(32, 178, 7, 1) 84deg
  );
  background-blend-mode: normal;
  padding: 10px 10px 10px 80px;
}

h1
{
font-family: "palatino linotype", palatino, serif;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
text-align: center;
letter-spacing: 1.8pt;
word-spacing: 3.4pt;
line-height: 1.2;
border: 2px solid #0400ff;
background-color: #ff0000;
padding: 20px
}

.el2
{
position: relative; } 
.el2 img 
{ 
border: 25px solid #fafafa;
border-top-width: 35px; 
border-bottom-width: 100px; 
-webkit-box-shadow: 3px 3px 6px 4px #888; 
-moz-box-shadow: 3px 3px 6px 4px #888; 
box-shadow: 3px 3px 6px 4px #888; 
}
